extends ../base

block styles
    link(rel="stylesheet" href="/css/forgotPassword.css")

block content
    //- include ../_navbar
   

    

    form(id='forgotPasswordForm' novalidate)
        h2 Forgot Password 
        // 🔥 Global message area
        p.form-message#formMessage

        label(for='email') Email
        input(type='email' name='email' id='email' required)
        small.form-error#emailError

        button(type='submit' id='submitBtn')
            span.btn-text Send
            span.spinner.hidden Loading...

    block scripts 
        script(src='/js/forgotPassword.js')