extends ../base

block styles
  link(rel="stylesheet" href="/css/requestEmailVerification.css")

block content
  section.section-email-verification
    .card
      .email-verification
        // NAV LINKS (Login / Sign Up)
        .links-row
          a.email-verification__link(href='/login') Login
          span.email-verification__divider | 
          a.email-verification__link(href='/signup') Sign up

        // FORM
        form#emailVerificationForm.email-verification__form(novalidate)
          label.email-verification__label(for='email') Email
          input.email-verification__input(
            type='email'
            name='email'
            id='email'
            required
            placeholder='Enter your email'
          )

          button#submitBtn.email-verification__button(type='submit')
            span.email-verification__button-text.btn-text Send

        // MESSAGE
        p.email-verification__message#formMessage

block scripts
  script(src='/js/emailVerification.js')
