extends ../base

block content
    include ../_navbar

    h1 Reset Password 

    form(id='resetPasswordForm' novalidate)
        // 🔥 Global message area
        p.form-message#formMessage

        label(for='password') New Password
        input(type='password' name='newPassword' id='newPassword' required)
        small.form-error#newPasswordError

        label(for='passwordConfirm') Confirm Password
        input(type='password' name='passwordConfirm' id='passwordConfirm' required)
        small.form-error#passwordConfirmError

        button(type='submit' id='submitBtn')
            span.btn-text Reset Password
            span.spinner.hidden Loading...

    block scripts
        script(src='/js/resetPassword.js')