extends base

block styles
  link(rel="stylesheet" href="/css/editProfile.css")

block content
  .edit-profile-page
    .edit-card
      h1 #{title}

      a(href='/dashboard') Dashboard

      form(id='editProfileForm' enctype="multipart/form-data")
        p.form-message#formMessage

        label(for='username') Username 
        input(type='text' name='username' id="username" value=currentUser.username)

        input(type="file" name="pfp" id="pfp" accept="image/*")

        button(type="submit") Save Changes

block scripts
  script(src='/js/editProfile.js')
