extends base 
//- base.pug

block styles
    link(rel="stylesheet" href="/css/login.css")
block content
    //- If show navbar, then include navbar
<<<<<<< HEAD
    //- if !hideNavbar 
    //-     include _navbar

    //- REMOVE THIS
    //- a(href='/login') Login
    //- a(href='/signup') Sign Up
=======
    if !hideNavbar 
        include _navbar
        //- _navbar.pug
        //- If it starts with underscore (_), then it is not a page 
        //- but just a part of the page (partial)
>>>>>>> 9dea5dafe6f0e90346650631fa9bab2eb1ba7015

   

    form(id='loginForm' novalidate) 
        h1 Login
        // 🔥 Global message area
        p.form-message#formMessage

        label(for='email') Email
        input(type='email' name='email' id='email' required)
        small.form-error#emailError

        label(for='password') Password
        input(type='password' name='password' id='password' required)
        small.form-error#passwordError 

        a(href='/forgotPassword') Forgot password?

        button(type='submit' id='loginBtn')
            span.btn-text Log In
            span.spinner.hidden Loading...

        button(type='button' id='signupBtn') Sign Up
            

    block scripts
        script(src='/js/login.js')
        //- login.js


