extends base

block styles
  link(rel="stylesheet" href="/css/login.css")

block content
  form(id='loginForm' novalidate)
    h2 Login

    p.form-message#formMessage

    label(for='email') Email
    input(type='email' name='email' id='email' required)
    small.form-error#emailError

    label(for='password') Password
    input(type='password' name='password' id='password' required)
    small.form-error#passwordError

    // ✅ Show Password checkbox
    label.show-password-label
      input(type="checkbox" id="showPassword")
      | Show Password

    .links-row
      a.login__verify-email(href='/requestEmailVerification') Verify email
      a(href='/forgotPassword') Forgot password?

    button(type='submit' id='loginBtn')
      span.btn-text Log In
      span.spinner.hidden Loading...
    button(type='button' id='signupBtn') Create Account

block scripts
  script(src='/js/login.js')