extends base

block content

  h2 Hello, #{user.username}

  p You need to create a workout plan before starting a solo workout.

  a(href="/createWorkoutPlan")
    button Create My Workout Plan

  br
  br

  if user.userType === "user"
    a.dashboard-btn(href='/dashboard') Dashboard
  if user.userType === "coach"
    a.dashboard-btn(href='/coachDashboard') Dashboard
  if user.userType === "admin"
    a.dashboard-btn(href='/adminDashboard') Dashboard

