extends base

block styles
  link(rel="stylesheet" href="/css/profile.css")

block content 
  .profile-page
    h1 #{title}

    if user.pfpUrl
      img.profile-pic(src=user.pfpUrl alt="Profile Picture")
    else
      img.profile-pic(src="/img/default-user.png" alt="Default Profile")

    hr.profile-divider

    .profile-details
      h2 #{user.username}
      h2 #{user.email}

      form(id="deleteForm")
        button(type="submit") Delete Account

      a(href='/editProfile') Edit Profile
      a(href='/dashboard') Dashboard
