extends base

block styles
  link(rel="stylesheet" href="/css/profile.css")

block content

  .top-bar
    if user.userType === "user"
      a(href='/dashboard') Dashboard
    if user.userType === "coach"
      a(href='/coachDashboard') Dashboard
    if user.userType === "admin"
      a(href='/adminDashboard') Dashboard
    a(href='javascript:history.back()') Back

  .profile-page
    .profile-card
      h1 #{title}

      if user.pfpUrl
        img.profile-pic(src=user.pfpUrl alt="Profile Picture" onerror="this.onerror=null;this.src='/img/default-user.png'")
      else
        img.profile-pic(src="/img/default-user.png" alt="Default Profile" onerror="this.onerror=null;this.src='/img/default-user.png'")

      hr.profile-divider

      .profile-details
        h2 #{user.username}
        h2 #{user.email}

      .profile-actions
        a(href='/editProfile') Edit Profile

        form(id="deleteForm")
          p.form-message#formMessage

          button(type="submit" id="deleteBtn") Deactivate Account

          p.warning-message ⚠️ This action cannot be undone.

          button(type="button" id="permanentDeleteBtn") Delete Account Permanently

block scripts
  script(src='/js/profile.js')
