extends base

block content
    //- "novalidate" disables browser auto-submit
    //- We use AJAX for submit
    form(id='signupForm' novalidate) 
        label(for='email') Email
        input(type='email' name='email' id='email' required)

        label(for='username') Username
        input(type='text' name='username' id='username' required)

        label(for='pfpUrl') Profile Picture URL
        input(type='text' name='pfpUrl' id='pfpUrl' required)

        label(for='password') Password
        input(type='password' name='password' id='password' required)

        label(for='passwordConfirm') Confirm Password
        input(type='password' name='passwordConfirm' id='passwordConfirm' required)

        button(type='submit' id='submitBtn')
            span.btn-text Create Account
            span.spinner.hidden Loading...

        block scripts
            script(src='/js/signup.js')

