extends base

block content

    //- if !hideNavbar
    //-     include _navbar
    block styles
     link(rel="stylesheet" href="/css/signup.css")

    //- "novalidate" disables browser auto-submit
    //- We use AJAX for submit
    //-for picture upload
    form(id='signupForm' novalidate enctype='multipart/form-data')
    
    
        h2 Sign Up 
        // 🔥 Global message area
        p.form-message#formMessage

        label(for='email') Email
        input(type='email' name='email' id='email' required)
        small.form-error#emailError

        label(for='username') Username
        input(type='text' name='username' id='username' required)

        label(for='pfpUrl') Profile Picture
        input(type='file' name='pfpUrl' id='pfpUrl' accept='image/*')
        small.form-hint JPG, PNG only * MAX 2MB

        label(for='password') Password
        input(type='password' name='password' id='password' required)
        small.form-error#passwordError

        label(for='passwordConfirm') Confirm Password
        input(type='password' name='passwordConfirm' id='passwordConfirm' required)
        small.form-error#passwordConfirmError

        button(type='submit' id='submitBtn')
            span.btn-text Create Account

    block scripts
            script(src='/js/signup.js')

