extends ../base

block styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&display=swap")
  link(rel="stylesheet" href="/css/forgotPassword.css")

block content
  form#forgotPasswordForm(novalidate)

    //- Logo
    .logo-wrapper
      .logo-icon
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
          path(d='M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29l-1.43-1.43z')
      .logo-text GYM#[span SPIRE]

    .logo-divider

    //- Lock icon
    .page-icon
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
        path(d='M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z')

    h2 Forgot Password
    p.subtitle Enter your email and we'll send you a link to reset your password.

    //- Back link
    .back-link
      a(href='/login')
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
          path(d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z')
        | Back to Login

    label(for='email') Email
    input(type='email' name='email' id='email' required placeholder='you@example.com')
    small.form-error#emailError

    button(type='submit' id='submitBtn')
      span.btn-text Send Reset Link
      span.spinner.hidden Loading...

    p.form-message#formMessage

block scripts
  script(src='/js/forgotPassword.js')
