/* =========================
   GLOBAL STYLES
========================= */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

/* =========================
   SIGN UP
========================= */
button {
  position: relative;
  padding: 0.75rem 1.5rem;
}

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

/* =========================
   WORKOUT PLAN
========================= */
.exercise-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.1); /* make it slightly transparent */
  color: white;
}

.exercise-card img {
  margin: 10px 0;
  border-radius: 8px;
}
