extends base

block styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&display=swap")
  link(rel="stylesheet" href="/css/signup.css")

block content
  form(id='signupForm' novalidate)

    //- Logo
    .logo-wrapper
      .logo-icon
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
          path(d='M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29l-1.43-1.43z')
      .logo-text GYM#[span SPIRE]

    .logo-divider

    h2 Create Account

    p.form-message#formMessage

    //- Avatar upload
    .avatar-upload
      .avatar-preview#avatarPreview(onclick="document.getElementById('pfp').click()")
        img#avatarImg(src='' alt='Preview')
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='avatarPlaceholder')
          path(d='M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4 7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4c0-3.2-6.4-4.8-9.6-4.8z')
      label.avatar-upload-label(for='pfp') Upload Photo
      input(type='file' name='pfp' id='pfp' accept='image/*')

    label(for='email') Email
    input(type='email' name='email' id='email' required placeholder='you@iacademy.ph')
    small.form-error#emailError

    label(for='username') Username
    input(type='text' name='username' id='username' required placeholder='Choose a username')

    label(for='password') Password
    input(type='password' name='password' id='password' required placeholder='••••••••')
    small.form-error#passwordError

    label(for='passwordConfirm') Confirm Password
    input(type='password' name='passwordConfirm' id='passwordConfirm' required placeholder='••••••••')
    small.form-error#passwordConfirmError

    .waiver-section
      a.waiver-link(href='/waivers/GymSpire-waiver.pdf' target='_blank')
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
          path(d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zm-1 1.5L18.5 9H13V3.5zM6 20V4h5v7h7v9H6z')
        | View Waiver (PDF)
      label.waiver-label(for='agreeWaiver')
        input(type='checkbox' id='agreeWaiver' name='agreeWaiver' required)
        | I have read and agree to the waiver.
      small.form-error#waiverError

    button(type='submit' id='submitBtn')
      span.btn-text Create Account

    p.signup-login-link
      | Already have an account?&nbsp;
      a(href='/login') Log in

block scripts
  script(src='/js/signup.js')
