extends ../base

block styles
  link(rel="stylesheet" href="/css/createAdmin.css")

block content

  a.back-btn(href="javascript:history.back()")
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
      path(d="M19 12H5M5 12l7 7M5 12l7-7")
    span Back

  .page-wrap

    .card

      //- Logo
      .logo-wrapper
        .logo-icon
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
            path(d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29z")
        span.logo-text GYM#[span SPIRE]

      .logo-divider

      h1.card-title Create Admin
      p.card-subtitle Creating as #[strong #{user.username}]

      //- Avatar upload
      .avatar-section
        .avatar-preview#avatarPreview
          img#avatarImg(src=user.pfpUrl || '/img/default-user.png' alt="Preview")
          .avatar-overlay
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
              path(d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z")
              circle(cx="12" cy="13" r="4")
        input#pfpInput(type="file" name="pfp" accept="image/*" hidden)
        p.avatar-hint Click to upload profile photo

      p.form-message#formMessage

      form#createAdminForm(novalidate)

        .field-group
          label(for="email") Email
          input(type="email" id="email" name="email" placeholder="admin@gymspire.com" required)
          small.form-error#emailError

        .field-group
          label(for="username") Username
          input(type="text" id="username" name="username" placeholder="e.g. AdminJuan" required)

        .field-group
          label(for="password") Password
          .input-wrap
            input(type="password" id="password" name="password" placeholder="••••••••" required)
            button.toggle-pw(type="button" data-target="password" title="Show password")
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                path(d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z")
                circle(cx="12" cy="12" r="3")
          small.form-error#passwordError

        .field-group
          label(for="passwordConfirm") Confirm Password
          .input-wrap
            input(type="password" id="passwordConfirm" name="passwordConfirm" placeholder="••••••••" required)
            button.toggle-pw(type="button" data-target="passwordConfirm" title="Show password")
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                path(d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z")
                circle(cx="12" cy="12" r="3")
          small.form-error#passwordConfirmError

        button#submitBtn(type="submit")
          span.btn-text Create Admin

block scripts
  script(src="/js/createAdmin.js")
