extends base

block styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&display=swap")
  link(rel="stylesheet" href="/css/login.css")

block content
  form(id='loginForm' novalidate)

    //- ✅ Gymspire Logo
    .logo-wrapper
      .logo-icon
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
          path(d='M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29l-1.43-1.43z')
      .logo-text GYM#[span SPIRE]

    .logo-divider

    h2 Welcome Back

    p.form-message#formMessage

    label(for='email') Email
    input(type='email' name='email' id='email' required placeholder='you@example.com')
    small.form-error#emailError

    label(for='password') Password
    input(type='password' name='password' id='password' required placeholder='••••••••')
    small.form-error#passwordError

    //- Show Password checkbox
    label.show-password-label
      input(type="checkbox" id="showPassword")
      | Show Password

    .links-row
      a.login__verify-email(href='/requestEmailVerification') Verify email
      a(href='/forgotPassword') Forgot password?

    button(type='submit' id='loginBtn')
      span.btn-text Log In
      span.spinner.hidden Loading...
    button(type='button' id='signupBtn') Create Account

block scripts
  script(src='/js/login.js')
