extends ../base

block styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&display=swap")
  link(rel="stylesheet" href="/css/resetPassword.css")

block content
  form#resetPasswordForm(novalidate)

    //- Logo
    .logo-wrapper
      .logo-icon
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
          path(d='M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29l-1.43-1.43z')
      .logo-text GYM#[span SPIRE]

    .logo-divider

    //- Key icon
    .page-icon
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
        path(d='M12.65 10C11.83 7.67 9.61 6 7 6c-3.31 0-6 2.69-6 6s2.69 6 6 6c2.61 0 4.83-1.67 5.65-4H17v4h4v-4h2v-4H12.65zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z')

    h2 Reset Password
    p.subtitle Choose a strong new password for your account.

    p.form-message#formMessage

    label(for='newPassword') New Password
    input(type='password' name='newPassword' id='newPassword' required placeholder='••••••••')
    small.form-error#newPasswordError

    label(for='passwordConfirm') Confirm Password
    input(type='password' name='passwordConfirm' id='passwordConfirm' required placeholder='••••••••')
    small.form-error#passwordConfirmError

    button(type='submit' id='submitBtn')
      span.btn-text Reset Password
      span.spinner.hidden Loading...

block scripts
  script(src='/js/resetPassword.js')
