body {
  background: #22356d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  box-sizing: border-box;
}

.Login-Container {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
  /* no height , to make the container adjust incase we add another input field*/
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Coach-btn {
  background: #c1419b;
  color: white;
  margin-bottom: 10px;
}
/* hover for login button*/
.Coach-btn:hover {
  background: #782860;
  color: white;
}

#SignUpTitle {
  text-align: center;
}
