body {
  background: #22356d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.Login-Container {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 8px;
  /* no height, container adjusts automatically */
}

form {
  display: flex;
  flex-direction: column;
}

/* general input style */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* checkbox wrapper */
.show-password {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 8px 0 30px 0;
  width: 100%;
  justify-content: flex-end; /* moves checkbox + label to the right */
}

.show-password input[type="checkbox"] {
  width: auto; /* checkbox keeps natural width */
}

.show-password label {
  font-size: 14px;
  cursor: pointer;
}

/* buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Reset-btn {
  background: #277529;
  color: white;
}

/* hover for reset button */
.Reset-btn:hover {
  background: #1c4d1d;
  color: white;
}

.Back-btn {
  background: #3687b7;
  color: white;
  margin-bottom: 10px;
}

/* hover for back button */
.Back-btn:hover {
  background: #1b4055;
  color: white;
}

/* heading */
h2 {
  text-align: center;
}
